.about-me-interests {
	display: flex;
	flex-direction: row;
	gap: 104px;
	margin-bottom: 90px;
}

.about-me {
	max-width: 665px;

	&__title {
		margin-bottom: 24px;
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		gap: 24px;

		&-line-numbers {
			width: 11px;
			flex: none;
			position: relative;
			overflow: hidden;

			div {
				position: absolute;
			}
		}

		&-text-wrapper {
			display: flex;
			flex-direction: row;
		}

		&-text {
			flex: none;
			width: 100%;
			padding-bottom: 22px;

			&.placeholder {
				visibility: hidden;
			}

			&-cursor.blink {
				animation: cursor-blinking 2s ease infinite;
			}
		}
	}
}

@keyframes cursor-blinking {
	from {
		opacity: 1;
	}

	25%,
	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


.interests {
	&__title {
		margin-bottom: 24px;
	}

	&__list {
		max-width: 404px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 16px;
	}

	&__item {
		width: 48px;
		height: 48px;
		border: 1px solid var(--color-text-main);
		border-radius: 24px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		svg path {
			fill: var(--color-text-main);
		}

		&.music {
			padding-bottom: 3px;
		}

		&.cooking {
			padding-top: 1px;
		}
	}
}