.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 24px;
	padding-block: 24px;

	&__menu {
		&-list {
			display: flex;
			flex-direction: row;
			gap: 24px;
		}

		&-link {
			@media (hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}