@import url("normalize.css");

:root {
	--transition-duration: .2s;
	--container-width-max: 1440px;
	--container-width-min: 375px;
	--image-hover-scale: 1.08;

	/* Primary colors */
	--color-primary-main: #4C4DDC;
	--color-primary-surface: #F5F5FF;
	--color-primary-border: #DFE0F3;
	--color-primary-hover: #3334CC;
	--color-primary-pressed: #085885;
	--color-primary-focus: #4C4DDC33;

	/* Secondary colors */
	--color-secondary-main: #FFD33C;
	--color-secondary-surface: #FFF6D8;
	--color-secondary-border: #FFF0BE;
	--color-secondary-hover: #D5B032;
	--color-secondary-pressed: #806A1E;
	--color-secondary-focus: #FFF6D8;

	/* Success colors */
	--color-success-main: #37C779;
	--color-success-surface: #F2FFF8;
	--color-success-border: #C5EED8;
	--color-success-hover: #46B277;
	--color-success-pressed: #224C36;
	--color-success-focus: #50CD8933;

	/* Danger colors */
	--color-danger-main: #F14141;
	--color-danger-surface: #FFF2F2;
	--color-danger-border: #FAC0C0;
	--color-danger-hover: #D93A3A;
	--color-danger-pressed: #802A2A;
	--color-danger-focus: #F1414133;

	/* Info colors */
	--color-info-main: #7239EA;
	--color-info-surface: #F6F2FF;
	--color-info-border: #D0BDF8;
	--color-info-hover: #6633D1;
	--color-info-pressed: #3F2478;
	--color-info-focus: #7239EA33;

	/* Neutral colors */
	--color-neutral-10: #FFFFFF;
	--color-neutral-20: #F5F5F5;
	--color-neutral-30: #EDEDED;
	--color-neutral-40: #D6D6D6;
	--color-neutral-50: #C2C2C2;
	--color-neutral-60: #878787;
	--color-neutral-70: #606060;
	--color-neutral-80: #383838;
	--color-neutral-90: #242323;
	--color-neutral-100: #101010;
}


.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;;
}


* {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}


.h1-inter,
.h2-inter,
.h3-inter,
.h4-inter,
.h5-inter,
.h6-inter,
.p-inter-large,
.p-inter-medium,
.p-inter-small,
.button {
	color: var(--color-neutral-10);
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.02em;
}

.h1-inter {
	font-size: 64px;
	line-height: 1.125;
}

.h2-inter {
	font-size: 48px;
	line-height: 1.166;
}

.h3-inter {
	font-size: 40px;
	line-height: 1.2;
}

.h4-inter {
	font-size: 32px;
	line-height: 1.25;
}

.h5-inter {
	font-size: 25px;
	line-height: 1.333;
}

.h6-inter {
	font-size: 18px;
	line-height: 1.444;
}

.p-inter-large,
button {
	font-size: 16px;
	line-height: 1.5;
}

.p-inter-medium {
	font-size: 14px;
	line-height: 1.428;
}

.p-inter-small {
	font-size: 12px;
	line-height: 1.333;
}

.medium {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.secondary {
	color: var(--color-neutral-60);
}


.logo {
	display: block;
	width: 187px;
	height: 26px;
	background-image: url("../images/header-logo.png");
	flex-shrink: 0;
}


.button {
	display: block;
	height: 56px;
	padding: 0 24px;
	background-color: var(--color-danger-main);
	border: none;
	border-radius: 6px;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
	align-items: center;
	transition-property: background-color;
	transition-duration: var(--transition-duration);

	&_primary {
		@media (hover: hover) {
			&:hover {
				background-color: var(--color-danger-hover);
			}
	
			&:active {
				background-color: var(--color-danger-pressed);
			}
		}
	}

	&_secondary {
		background-color: var(--color-neutral-90);
		border: 1px solid var(--color-neutral-80);

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-neutral-80);
			}
		}
	}

	&_outline {
		background-color: transparent;
		border: 1px solid var(--color-danger-main);

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-neutral-90);
			}
		}
	}
}


.trailer-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	align-items: center;
}


.cover {
	overflow: hidden;

	div {
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition-property: transform;
		transition-duration: var(--transition-duration);
		transition-timing-function: ease;

		&:hover {
			transform: scale(var(--image-hover-scale));
		}
	}
}


.container {
	max-width: var(--container-width-max);
	min-width: var(--container-width-min);
	margin-inline: auto;
}

body {
	background-color: var(--color-neutral-100);
}


.header {
	min-height: 120px;
	padding: 32px 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	align-items: center;

	&__nav-list {
		list-style: none;
		text-transform: uppercase;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 32px;
		align-items: center;
	}

	&__nav-item {
		height: 32px;
		padding: 0 8px;
		border-radius: 4px;
		background-color: #ffffff00;
		white-space: nowrap;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 8px;
		align-items: center;
		transition-property: background-color;
		transition-duration: var(--transition-duration);

		&_current {
			background-color: #ffffff19;
		}

		&:not(.header__nav-item_current):hover {
			background-color: #ffffff10;
		}

		&_drop {
			a:after {
				content: url(../icons/header-arrow_grey.svg);
				padding-left: 12px;
			}
		}
	}

	&__buttons {
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 16px;
		align-items: center;
	}

	&__button-search {
		width: 56px;
		height: 56px;
		border: 1px solid var(--color-neutral-80);
		border-radius: 8px;
		background: url("../icons/loupe.svg") no-repeat center;
	}
}


.hero {
	min-height: 688px;
	padding: 112px 100px 120px;
	position: relative;

	&__background {
		width: 871px;
		height: 721px;
		background-image: url("../images/hero-background.jpg");
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
		top: -76px;
		right: 0;
	}

	&__content {
		width: 604px;
		display: flex;
		flex-direction: column;
		align-items: start;

		&-title {
			margin-bottom: 24px;
		}

		&-description {
			margin-bottom: 32px;
		}

		&-indicator-list {
			margin-top: 64px;
			display: block;
			cursor: pointer;
		}
	}
}


.main {
	padding: 60px 100px 0;

	&__title {
		width: 788px;
		text-align: center;
		margin-inline: auto;
		margin-bottom: 56px;
	}
}

.movie-categories {
	margin-bottom: 120px;

	&__menu {
		min-height: 58px;
		margin-bottom: 40px;
	}

	&__list {
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2px;
		align-items: center;
	}

	&__item {
		flex: 1 1 100%;

		&_inactive {
			color: var(--color-neutral-60);
			background-color: transparent;
			border: none;
			transition-property: color;
			transition-duration: var(--transition-duration);
	
			&:hover {
				color: var(--color-neutral-50);
			}
		}
	}
}


.movies {
	display: flex;
	flex-direction: column;
	gap: 56px;
	align-items: stretch;

	&__movies-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 56px;
	}

	&__movie-card {
		height: 721px;
		text-align: center;
		flex: 1 1 100%;

		&-cover {
			display: block;
			height: 485px;
			margin-bottom: 32px;
		}

		&-title {
			padding-inline: 24px;
			margin-bottom: 24px;
		}

		&-description {
			padding-inline: 24px;
			margin-bottom: 32px;
		}
	}
}


.movie {
	@for $i from 1 through 5 {
		&-#{$i} {
			background-image: url(../images/movies__movie-card-cover_#{$i}.jpg);
		}
	}
}


.news {
	padding-block: 60px;

	&__discover {
		margin-bottom: 80px;
		display: flex;
		flex-direction: row;
		gap: 56px;
		align-items: center;

		&-title {
			flex: 1 1 100%;
		}

		&-subtitle {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: start;
		}
	}

	&__highlight {
		margin-bottom: 80px;
		min-height: 417px;
		display: flex;
		flex-direction: row;
		gap: 56px;
		align-items: stretch;

		&-cover {
			display: block;
			flex: 1 1 100%;

			div {
				background-image: url(../images/news_cover.jpg);
				background-position: center 70%;
			}
		}

		&-description {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 32px;
			align-items: start;
		}

		&-button-arrow {
			display: block;
			padding-top: 5px;
			transform: rotate(-90deg);
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		gap: 56px;
		list-style: none;
	}

	&__item {
		flex: 1 1 100%;

		a {
			height: 456px;
			display: flex;
			flex-direction: column;
			justify-content: end;
			gap: 32px;
		}

		&-cover {
			flex-grow: 1;
		}
	}
}


.subscribe {
	position: relative;
	width: min(var(--container-width-max), 100vw);
	// left: calc(-(min(var(--container-width-max), 100vw) - 100%) / 2);
	left: calc(-1 * (min(var(--container-width-max), 100vw) - 100%) / 2);
	padding-block: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;

	/* Background umage with opacity */
	&:before {
		content: "";
		background-image: url(../images/subscribe_background.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .8;
		z-index: -1;
	}

	&__title,
	&__subtitle {
		text-align: center;
		max-width: 964px;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__subtitle {
		margin-bottom: 32px;
	}

	&__email-capture {
		display: flex;
		flex-direction: row;
		gap: 8px;

		&-input {
			display: block;
			width: 320px;
			height: 56px;
			padding-left: 16px;
			background-color: var(--color-neutral-100);
			border: 1px solid var(--color-neutral-80);
			border-radius: 6px;
			box-shadow: 0px 1px 2px rgba(16, 24, 40, .05);
		}
	}
}


.footer {
	padding: 80px 100px 56px;

	&__content {
		display: flex;
		flex-direction: row;
		gap: 24px;
		margin-bottom: 32px;
	}

	&__title {
		width: 468px;

		.logo {
			margin-bottom: 16px;
		}
	}

	&__nav {
		flex-grow: 1;

		&-columns {
			list-style: none;
			flex-grow: 1;
			display: flex;
			flex-direction: row;
		}

		&-column {
			flex-grow: 1;
		}

		&-links {
			list-style: none;
			padding-inline: 32px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		&-link {
			a:hover {
				text-decoration: underline;
			}
		}
	}

	&__social {
		width: 182px;

		&-title {
			margin-bottom: 16px;
		}

		&-list {
			list-style: none;
			display: flex;
			flex-direction: row;
			gap: 16px;
		}

		&-item {
			display: block;
			width: 40px;
			height: 40px;
			background-color: var(--color-neutral-90);
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__legal {
		display: flex;
		flex-direction: row;
		gap: 32px;
		padding-top: 32px;
		border-top: 1px solid var(--color-neutral-80);

		&-title {
			flex: 1 1 100%;
		}

		&-links {
			flex: 1 1 100%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			gap: 10px;

			a:hover {
				text-decoration: underline;
			}
		}
	}
}


.facebook {
	background-image: url(../icons/social-facebook.svg);
}

.instagram {
	background-image: url(../icons/social-instagram.svg);
}

.tiktok {
	background-image: url(../icons/social-tiktok.svg);
}


/* .trailer {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, .65);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.trailer__popup {
	padding: 25px 30px;
	width: min(1280px, min(80vw, 80vh * 16 / 9));
	border-radius: 10px;
}

.trailer__popup video{
	display: block;
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--color-neutral-80);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
} */